.theme-dark
	background-color #222
	color #fff
	p
		color #fff
	.title
		color #fff
	.subtitle
		color #fff
	.card__text
		color var(--c-dark)
	.card__title	
		color var(--c-dark)
	section:nth-child(odd)
		background-color #6B6B6B