@font-face
	src url(../fonts/Mulish-Black.ttf)
	font-family 'mblack'
	
@font-face
	src url(../fonts/Mulish-BlackItalic.ttf)
	font-family 'mblackitalic'

@font-face
	src url(../fonts/Mulish-Bold.ttf)
	font-family 'mbold'
	
@font-face
	src url(../fonts/Mulish-Light.ttf)
	font-family 'mlight'

@font-face
	src url(../fonts/Mulish-ExtraLight.ttf)
	font-family 'xlight'
	
@font-face
	src url(../fonts/Mulish-Medium.ttf)
	font-family 'mulish'

@font-face
	src url(../fonts/Mulish-SemiBold.ttf)
	font-family 'msemibold'

*
	scroll-behavior smooth
	
// h2
// 	font-family 'Poppins', sans-serif
// 	font-family seoge-negrita
p
	color var(--c-text)
	line-height 31px
	font-size 18px
	margin-top 16px
	margin-bottom 24px
	
section
	transition all 5s
	width 100%
	padding 100px 0
	&:nth-child(odd)
		background-color #f7f7f7

.products section
	background-color #fff
	&:nth-child(even)
		background-color #f7f7f7

header
	background-color #fff
	// position fixed
	// width 100%
	z-index 99
	box-shadow 0 2px 8px rgba(0,0,0,.07)
	position sticky
	top 0
	@media screen and (max-width 768px)
		height 95px

body
	font-family msemibold
	// transition all 2s