.center
	text-align center
	margin auto
.left
	text-align left
.end
	text-align end

.v-center
	display flex
	align-items center
	justify-content space-around
.h-end
	display flex
	justify-content flex-end
	text-align right

.h-start
	display flex
	justify-content flex-start
	text-align left
.justificar
	display flex
	justify-content space-between