.footer
	background-color #222
	color #fff
	letter-spacing 1px
	line-height 1.5
	&__copy
		border-top 1px solid #ccc
		display block
		padding 10px
		font-family mlight
		font-size 13px
		text-align center
	&__item
		text-align left
		padding 10px 0
		display flex
		align-items center
		font-size 16px
		color var(--c-white)
		transition all .3s
		span
			
			margin-left 10px
			font-family xlight
		a
			display block
			// color var(--c-white)
			margin 10px 0
		p
			color var(--c-white)
		.icon
			color var(--c-primary)
		&:hover
			color var(--c-primary)
	&__icon
		color #fff
		font-size 24px
		text-align center
		margin 16px
		transition all .3s
		&:hover
			color var(--c-primary)
		svg
			width 32px
			height 32px
	&__title
		font-size 24px
		// text-align center
		font-family mulish
		padding 10px 0
		padding-bottom 20px
		margin-bottom 20px
		border-bottom 1px solid var(--c-primary)