.header
	display flex
	padding 10px 0px
	margin auto
	justify-content space-between
	align-items center
	left 50%
	z-index 99
	&__logo
		color var(--c-primary)
		text-transform uppercase
		font-weight 500
		font-size 20px
		letter-spacing 1px
		display flex
		align-items center
		padding 0
		flex-basis 120px
		&-img
			max-width 100px
			padding 0 20px 
		@media screen and (max-width 768px)
			font-size 18px
	&__button
		background-color var(--c-primary)
		border-radius 8px
		@media screen and (max-width 768px)
			margin-top 20px
			.header__menu__link
				border-bottom none
		&-menu
			display none
			@media screen and (max-width 768px)
				display block
				color var(--c-white)
				font-size 24px
	&-secundario
		background-color #080863
		background-color #727376
		padding 10px
		a
			color #fff
			font-size 14px
			transition all .3s
			&:hover
				color var(--c-primary)
	&-item
		display flex
		align-items center
