.card
	box-shadow 0 2px 6px rgba(#000,.2)
	text-align center
	margin 20px
	&-container
		padding 10px 15px
	&__title
		padding 15px 0
		font-size 25px
		color #212529
		font-family mblack
		line-height 1.5
		.color
			color var(--c-primary)
	&__price
		font-size 25px
		margin 15px 0
		font-family mblack
		color var(--c-text)
		&:before
			content 'S/'
			margin-right 5px
	&__text
		font-size 17px
		font-family mulish
		line-height 1.5
	&__button
		background-color var(--c-primary)
		border-radius 4px
		color var(--c-white)
		padding 12px 20px
		display inline-block
		width auto
		text-align center
		margin-bottom 16px
		margin-top 16px
		border 1px solid var(--c-primary)
		transition all .3s
		&:hover
			text-decoration none
			background-color var(--c-white)
			color var(--c-primary)
			border 1px solid var(--c-primary)
			cursor pointer
	&.alternativo
		transition all .3s
		background-color #fff
		// margin 0
		.card__title
			border-bottom 2px solid var(--c-primary)
			margin-bottom 20px
		&:hover
			background-color var(--c-primary)
			background-color #F37679
			color #fff
			.card__title
				color #fff
				border-bottom 2px solid #fff